$lightBorderline: #e1e1e1;
$startModalBackground: 'images/startModalBackground.jpg';
// QUBOX
$customBackground: #4267b2;
// BOXZONAZERO
/* $customBackground: #396236; */

// Modal
.startModal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    .ReactModal__Content {
      top: 200px !important;
      bottom: 360px !important;
      max-width: 620px;
      margin: auto;
      border-radius: 10px !important;
      background: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1)), url($startModalBackground) !important;
      background-size: contain !important;
      background-position: top right !important;
      border: 2px $lightBorderline solid !important;
      overflow: hidden !important;
      p {
        color: white;
        font-size: xx-large;
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding-top: 90px;
      }
      .modalButton {
        font-size: 15px;
        background: transparent;
        border: 1px solid white;
        color: white;
        display: block;
        margin: auto;
      }
      .modalButton:hover {
        background-color: $customBackground;
        color: white;
      }
      .closeButton {
        background: transparent !important;
        color: white !important;
        font-family: inherit;
        transform: scale(4, 2.75);
        font-weight: 300;
        float: right;
        padding: 0;
        margin-right: 0.5em;
      }
    }
    
    /* Mobile */
    @media (max-width: 767px) {
      .ReactModal__Content {
        left: 20px !important;
        right: 20px !important;
        bottom: auto !important;
        p {
          font-size: large;
          padding-top: 60px;
        }
      }
    }
  
    @media (max-width: 767px) and (orientation: landscape) {
      .ReactModal__Content {
        top: 100px !important;
      }
    }
  }