$lightBorderline: #e1e1e1;
$mainModalImage: 'images/crossfit-games-picture.jpg';
$startModalImage: 'images/startModalBackground.jpg';
$finishModalImage: 'images/finishModalBackground.jpg';
$quboxColor: #4267b2;
$zonazeroColor: #396236;

// Modal
.QUBOX .ReactModal__Content .modalButton:hover {
  background-color: $quboxColor;
  color: white;
}
.ZONAZERO .ReactModal__Content .modalButton:hover {
  background-color: $zonazeroColor;
  color: white;
}
.customModal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    .ReactModal__Content {
      max-width: 620px;
      height: fit-content;
      margin: auto;
      border-radius: 10px !important;
      background-position: top right !important;
      border: 2px $lightBorderline solid !important;
      overflow: hidden !important;
      p {
        color: white;
        font-size: xx-large;
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding-top: 90px;
      }
      .modalButton {
        font-size: 15px;
        background: transparent;
        border: 1px solid white;
        color: white;
        display: block;
        margin: auto auto 10px auto;
      }
      .closeButton {
        background: transparent !important;
        color: white !important;
        font-family: inherit;
        transform: scale(4, 2.75);
        font-weight: 300;
        float: right;
        padding: 0;
        margin-right: 0.5em;
      }
    }

    &.start {
      .ReactModal__Content {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1)), url($startModalImage) !important;
        background-size: contain !important;
      }
    }

    &.finish {
      .ReactModal__Content {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1)), url($finishModalImage) !important;
        background-size: cover !important;
      }
    }
    
    /* Mobile */
    @media (max-width: 767px) {
      .ReactModal__Content {
        top: 150px !important;
        left: 20px !important;
        right: 20px !important;
        bottom: auto !important;
        p {
          font-size: large;
          padding-top: 60px;
        }
      }
    }
  
    @media (max-width: 767px) and (orientation: landscape) {
      .ReactModal__Content {
        top: 100px !important;
      }
    }
  }

  .mainModal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    .ReactModal__Content {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1)), url($mainModalImage) !important;
      background-size: auto !important;
      background-position: center center !important;
      top: 0px !important;
      left: 0px !important;
      right: 0px !important;
      bottom: 0px !important;
      border-radius: 0px !important;
      border: 0 !important;
      p {
        color: white;
        font-size: xx-large;
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding-top: 300px;
      }
      p.error {
        padding-top: 1em;
        font-size: medium;
        font-weight: 400;
        color: red;
      }
      .input {
        margin: 0.5em auto;
        display: table;
        font-size: 1.4em;
        input {
          width: 270px;
          text-transform: uppercase;
          text-align: center;
          font-family: sans-serif;
        }
      }
      .modalButton {
        width: 270px;
        font-size: 15px;
        background: transparent;
        border: 1px solid white;
        color: white;
        display: block;
        margin: auto auto 10px auto;
        font-family: sans-serif;
      }
    }
  }

  /* Mobile */
  @media (max-width: 767px) {
    .mainModal {
      .ReactModal__Content {
        p {
          padding-top: 200px;
        }
      }
    }
  }